.button-cta {
  height: 40px;
  width: 278px;
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background-color: $primary;
  color: $white;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  text-align: center;
}

.button-cta:hover,
.button-cta:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}
