section.banner {
  height: 695px;
  position: relative;
  color: $white;

  .img-banner img {
    height: 695px;
    object-fit: cover;
  }

  .stats-ctas {
    position: absolute;
    height: 415px;
    top: 25%;
  }

  .stat-number {
    height: 136px;
    width: 258px;
    margin-bottom: 0;
  }

  .stat-txt {
    height: 66px;
    width: 258px;
    margin-top: 0;
  }

  .ctas {
    margin: 48px 0;

    .cta-txt {
      height: 100px;
    }
  }
}
