@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
  font-family: $font-family-poppins;
}

h1 {
  font-family: $font-family-poppins;
  font-size: 97px;
  font-weight: 600;
  letter-spacing: 2.08px;
  line-height: 146px;
}

h2 {
  font-family: $font-family-poppins;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 52px;
}

h3 {
  font-family: $font-family-poppins;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.51px;
  line-height: 35px;
}

h4 {
  font-family: $font-family-poppins;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.39px;
  line-height: 24px;
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.dark-background {
  background-color: $secondary;
  color: $white;

  a {
    color: $white;
  }
}

.overlay {
  height: 580px;
  width: 1200px;
  background: linear-gradient(270deg, rgba(32, 32, 32, 0.8) 0%, rgba(32, 32, 32, 0.12) 100%);
}

.white-txt {
  color: $white;
}
