/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Custom colors **/
$primary: #1837d3;
$secondary: #22211d;
$success: #3e8d63;
$info: #fefefd;
$warning: #b8c924;
$danger: #b00020;
$white: #fefefd;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
$font-family-poppins: "Poppins";
